.animal-show {
  position: relative;
  border: 0.1rem solid lightgray;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0 0.3rem 0.4rem lightgray;
}

.animal {
  width: 20rem;
}

.heart {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
